 .navLink {
    /* Your existing styles */
    transition: background-color 0.5s ease;
    padding: 2px 12px; /* Adding transition for smooth effect */
    border-radius: 5px;
  }

  .navLink:hover {
    background-color: #41B06E;
    padding: 2px 12px;
    border-radius: 5px;
    color: white;
  }